<div id="login">
  <div  class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form">
            <h3 class="text-center text-info">Formulario de registro</h3>
            <div class="form-group">
                <label for="user" class="control-label">Nombre usuario</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.name"  name="user_id" placeholder="Usuario">
            </div>

            <div class="form-group">
              <label for="pass" class="control-label">email</label>
              <input type="text" class="form-control" [(ngModel)]="usuario.correo"  name="email" placeholder="Correo electrónico">
            </div>

            <div class="form-group">
                <label for="pass" class="control-label">Contraseña</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.password"  name="pass" placeholder="Contraseña">
            </div>

            <div class="form-group">
                <label for="nombre" class="control-label">Rol</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.rol" name="nombre" placeholder="Rol de equipo">
            </div>

            <div class="form-group">
              <button type="submit" (click)="registrar()"  class="btn btn-primary">Registrar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
