<main class="contenedor" id="formato_nuevo">
  <section>
      <article class="almeria">
          <h1>Ciudad de Almería</h1>
          <img src="almeria.jpg" alt="Ciudad de Almeía">
          <div>
              <h2>Almería</h2>
              <p>La provincia de Almería constituye un placer difícil de encontrar en el Mediterráneo. Más de 100 Km. de costa indomable, ofreciendo un paisaje de inigualable belleza.</p>
              <p>Las peculiaridades paisajísticas y la bondad del clima almeriense convirtieron esta provincia en el marco idóneo para desarrollar una importante industria cinematográfica, por la que desfilaron algunos de los más célebres personajes del celuloide.</p>
              <p>Sus vírgenes playas de levante, con emergentes complejos nudistas y los grandes complejos turísticos de poniente, ofrecen un destino de calidad al viajero más exigente. Un privilegiado litoral circunda el Parque Natural Cabo de Gata-Níjar, de extensas playas de fina arena y recónditas calas, bañadas por las cálidas aguas del Mediterráneo. Las tradicionales fiestas de Moros y Cristianos contribuyen a que el viaje a Almería se convierta en una maravillosa aventura.</p>
              <p class="resaltados">Localización</p>
              <p>En el sureste de la Península Ibérica, a orillas del mar Mediterráneo.</p>
              <p>Cuenta con un litoral de 200 Km. de playas, extendiéndose desde Pulpí en el levante, hasta Adra en el poniente. Desciende desde la Sierra de Gádor, para fundirse con el Mediterráneo entre extensas playas de gran belleza.</p>
              <p class="resaltados">Historia</p>
              <p>Almería, por su situación estratégica, abierta al Mediterráneo, ha albergado durante su historia diferentes civilizaciones. Una importante huella la encontramos en los restos arqueológicos repartidos por toda nuestra provincia.</p>
              <p>La Prehistoria dejó muestras de una cultura muy especial en Los Millares y el Argar. Fenicios, cartagineses y griegos explotaron sus minas y comerciaron en sus costas. Los romanos, establecidos a partir del siglo III a.c., la convirtieron en el "Porto Magnus" del Mediterráneo y dominaron la zona hasta la llegada tardía de los visigodos, en el siglo VII. Los árabes creaban en el siglo X la actual capital, desde donde se regiría uno de los reinos taifas más importantes de la España musulmana. La influencia árabe ha sido la más fuerte, debido a su permanencia en nuestra tierra durante casi ocho siglos. Varios son los monumentos que evidencian la fecunda historia de esta tierra. Los castillos y las fortalezas constituyen un testimonio histórico privilegiado para conocer las sociedades del pasado.</p>
              <p>Largamente expuesta a conflictos fronterizos y a las necesidades de defensa, la provincia de Almería presenta gran número y variedad de castillos, que constituyen un patrimonio poco conocido. La recuperación económica vendrá de manos de la minería en el siglo XIX.</p>
              <p class="resaltados">Paisaje</p>
              <p>El mar y el desierto conviven con la huerta más fértil y productiva del continente. Tierras áridas, donde la supervivencia se convierte en un permanente reto; lagunas saladas en las que anida una variada fauna y especies vegetales, únicas en nuestro planeta, esperan a quienes visitan esta provincia dotada de un clima subtropical, mediterráneo, cálido y seco.</p>
              <p>Los Parques Naturales de Sierra María-Los Vélez con su castillo, sus cuevas rupestres y una riquísima fauna y el Cabo de Gata-Níjar, de playas desiertas, agrestes acantilados y fondos marinos transparentes, dan vida a un paisaje que ofrece al viajero la magia de la nieve, del bosque mediterráneo, del desierto y el mar.</p>
          </div>
          <div>
              <p class="resaltados">Mapa:</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51088.6380428519!2d-2.4983162770693443!3d36.841520991948194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7a9e00ecccf2c1%3A0x8d9da01f8ebc485e!2zQWxtZXLDrWE!5e0!3m2!1ses!2ses!4v1733045637816!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </article>
      <aside class="enlaces_viajes">
          <h2>Nuestras Webs recomendadas</h2>
          <p>Patrocinados</p>
          <a href="https://www.viajeselcorteingles.es/" target="_blank">El corte ingles</a>
          <a href="https://www.halconviajes.com/" target="_blank">Halcón Viajes</a>
          <a href="https://www.viajes.carrefour.es/" target="_blank">Carrefour Viajes</a>
          <a href="https://www.expedia.es/" target="_blank">Expedia</a>
          <p>Particulares</p>
          <a href="https://www.logitravel.com/viajes/" target="_blank">Logitravel</a>
          <a href="https://www.muchoviaje.com/" target="_blank">Muchoviajes</a>
          <a href="https://www.atrapalo.com/viajes/" target="_blank">Atrapalo</a>
          <a href="https://destinia.com/" target="_blank">Destinia</a>
          <a href="https://www.nautaliaviajes.com/" target="_blank">Nautaliaviajes</a>
      </aside>
  </section>
</main>



