<main class="contenedor" id="formato_noticia">
  <section>
      <h1>Noticias nacionales</h1>
      <article>
          <h2> Dejé que mi hija de seis años eligiera nuestras vacaciones</h2>
          <img src="articulo_ninia.webp" alt="Niña en litras titanic">
          <p>"Papá, ¿puedo elegir dónde vamos en nuestras próximas vacaciones?". Parece una trampa. En mi cabeza,
              estoy sopesando alentar su entusiasmo por explorar el mundo. Al mismo tiempo, no estoy seguro de estar preparado para ceder unas vacaciones a la misma niña que hace poco se enfureció porque no le dejé llevar la camiseta del pijama al colegio como abrigo.</p>
          <a href="https://es.euronews.com/viajes/2024/11/26/deje-que-mi-hija-de-seis-anos-eligiera-nuestras-vacaciones" target="_blank">Leer mas...</a>

      </article>
      <article>
          <h2> Airbnb busca reinventarse con mejores anuncios</h2>
          <img src="articulo_app.webp" alt="Pantalla PC">
          <p>Airbnb es uno de los sitios de alquiler más utilizados del mundo, pero ha provocado la ira y las críticas de las juntas de turismo, los residentes y los viajeros en los últimos años. Varios destinos han tomado
              medidas enérgicas contra la proliferación del número de alquileres de alojamiento, incluidos Florencia y Barcelona, ​​para intentar frenar las crisis de vivienda locales.</p>
              <a href="https://es.euronews.com/viajes/2024/11/25/airbnb-busca-reinventarse-con-mejores-anuncios-y-ofertas-mas-alla-del-alojamiento" target="_blank">Leer mas...</a>
      </article>
      <article>
          <h2>¿Qué países europeos hablan mejor y peor inglés?</h2>
          <img src="articulo_idioma.webp" alt="Personas de fiesta">
          <p>Aprender un nuevo idioma no es cosa de un día para otro, así que mucha gente opta por mudarse a otro país mientras sigue intentando dominar su lengua materna.
              El inglés es la segunda lengua más hablada en el mundo, por lo que suele ser la alternativa de facto mientras se sigue aprendiendo.</p>
          <a href="https://es.euronews.com/viajes/2024/11/21/que-paises-europeos-hablan-mejor-y-peor-ingles-espana-en-buena-posicion" target="_blank">Leer mas...</a>
      </article>
  </section>
  <section>
      <h1>Noticias internacionales</h1>
      <article>
          <h2> Nieve fialble, forfaits baratos y pistas poco concurridas</h2>
          <img src="articulo_nieve.webp" alt="Personas en la nieve">
          <p>Cuando Taylor Beckwith-Ferguson visitó Georgia por primera vez en 2015, pensó que pasaría unos días en la pista.
              Sus planes no tardaron en cambiar: "Descubrí que Georgia tiene una calidad de esquí similar a la de los Alpes, pero más barata. Hay buenas infraestructuras y buena nieve, y no está masificado", dice.</p>
          <a href="https://es.euronews.com/viajes/2024/11/28/nieve-fiable-forfaits-baratos-y-pistas-poco-concurridas-por-que-esquiar-en-georgia-este-in" target="_blank">Leer mas...</a>
          </article>
      <article>
          <h2> Los 8 mejores mercados navideños de Europa</h2>
          <img src="articulo_mercado.webp" alt="Mecado navideño">
          <p>Apoye a las pequeñas empresas estas Navidades visitando los mercados europeos que dan protagonismo a artesanos y productores apasionados.
               Al visitarlos, podrá saborear deliciosos manjares, encontrar recuerdos y regalos únicos y disfrutar de una experiencia festiva y acogedora que le recibirá con los brazos abiertos... ¡y quizá incluso con una taza o dos de algo caliente!</p>
          <a href="https://es.euronews.com/viajes/2024/11/24/de-las-velas-al-kimchi-los-8-mejores-mercados-navidenos-artesanales-de-europa" target="_blank">Leer mas...</a>
      </article>
      <article>
          <h2> De la selva amazónica al Pantanal</h2>
          <img src="articulo_serva.webp" alt="Rio de una serva">
          <p>Con playas de fama mundial, extensiones de selva amazónica, ciudades repletas de historia y llanuras salvajes fuera de pista, la colosal masa continental de Brasil alberga una asombrosa diversidad de naturaleza,
               cultura y aventura a lo largo de sus 8.000 kilómetros de costa y seis biomas distintos.</p>
          <a href="https://es.euronews.com/viajes/2024/11/18/de-la-selva-amazonica-al-pantanal-es-brasil-el-paraiso-ecologico-de-sudamerica" target="_blank">Leer mas...</a>
      </article>
  </section>
</main>
