<main class="contenedor" id="formato_nuevo">
  <H1>CRUCEROS DE VERANO 2025</H1>
  <article>
      <h2>Mediterraneo</h2>
      <div class="oferta">
          <img src="mediterraneo.jpg" alt="Imagen playa mediterraneo">
          <div>
              <p>Empieza tus vacaciones con un crucero con salida desde el puerto de Barcelona
                  Prepárate para vivir un viaje único empezando tu crucero desde Barcelona, uno de los puertos más importantes de Europa. Desde la ciudad condal podrás disfrutar de unas vacaciones inolvidables y descubrir algunos de los destinos más bellos del Mediterráneo.
                  Y lo mejor: despertarse cada día en una nueva ciudad con la comodidad de no tener que deshacer maletas y con todo el confort que te ofrecen nuestros camarotes y suites, además de una oferta gastronómica única y entretenimiento durante día y noche.</p>
                  <p class="duracion">Crucero: 3 dias/ 2 noches</p>
                  <p class="precio">Precio desde: 654 Euros</p>
                  <button routerLink="/login"> Reservar</button>
          </div>
      </div>
  </article>
  <article>
      <h2>Norte de Europa</h2>
      <div class="oferta">
          <img src="europa.avif" alt="Montañas en un lago">
          <div>
              <p>¿Ya estás pensando en tu crucero para el verano de 2025? Este año, MSC Cruceros te lo pone aún más fácil.
                  ¡Reserva ahora tu crucero con Todo Incluido de Bebidas y disfruta de un verano inolvidable en el Mediterráneo y Norte De Europa!
                  Explora las joyas de Francia, Italia, Grecia, Turquía o déjate sorprender por la naturaleza incontaminada del Norte de Europa.
                  Y lo mejor de todo: ¡este año, para tu crucero en el Mediterráneo te ofrecemos buses gratuitos desde varias ciudades de España hasta el puerto de embarque!
                  ¡Reserva ahora y prepárate para vivir tu verano 2025, solo con MSC Cruceros!</p>
                  <p class="duracion">Crucero: 7 dias/ 6 noches</p>
                  <p class="precio">Precio desde: 1.750 Euros</p>
                  <button routerLink="/login"> Reservar</button>
          </div>
      </div>
  </article>
</main>
