<h1>Nuestros Cruceros mas destacados</h1>
<main class="barcos_disponibles">
  <div class="contenedor">
      <img src="msc_armonia.avif" alt="Barco Armonia">
      <div >
          <h1>MSC Armonia</h1>
          <p>Gracias a su impresionante abanico de nuevas funcionalidades e instalaciones, MSC Armonia, uno de los primeros barcos en introducir la combinación habitual de MSC Cruceros entre estilo mediterráneo clásico y diseño vanguardista, se encuentra ahora si cabe más equipado que nunca para satisfacer todas y cada una de tus necesidades
              ¡Súbete a bordo y embárcate en un viaje de descubrimiento antes incluso de zarpar!</p>
          <button onclick="location.href='https://www.msccruceros.es/cruceros/barcos/msc-armonia';">Leer mas...</button>
      </div>
  </div>
  <div class="contenedor">
      <img src="msc_bellissima.avif" alt="Barco Bellissima">
      <div>
          <h1>MSC Bellissima</h1>
          <p>MSC Bellissima ofrece un impresionante abanico de funcionalidades que rivalizan con los de su barco gemelo, MSC Meraviglia. La innovadora tecnología MSC for Me te conectará con el resto de pasajeros, la tripulación y el propio barco. Asimismo, Zoe, tu asistente por bluetooth en el camarote, se conectará con tu dispositivo
              móvil para que puedas disfrutar de tus canciones preferidas a lo largo de todo el crucero. Además, el paseo interior, repartido entre dos cubiertas distintas, cuenta con una espectacular cúpula LED de 80 metros de largo. </p>
          <button onclick="location.href='https://www.msccruceros.es/cruceros/barcos/msc-bellissima';">Leer mas...</button>
      </div>
  </div>
  <div class="contenedor">
      <img src="msc_divina.avif" alt="Barco Divina">
      <div >
          <h1>MSC Divina</h1>
          <p>Inspirado en Sophia Loren, MSC Divina te ofrece toda la elegancia y el glamour de la era dorada de las líneas de cruceros, realzada por tecnología moderna y ecológica. A bordo encontrará todas las comodidades modernas, junto con una variedad de instalaciones deportivas y de ocio, así como entretenimiento de primer nivel, incluidos clubes para niños y adolescentes para
              garantizar la felicidad de todos. Además, MSC Divina es uno de los cuatro barcos que navegan hacia Ocean Cay MSC Marine Reserve, el destino exclusivo de MSC en las Bahamas.</p>
          <button onclick="location.href='https://www.msccruceros.es/cruceros/barcos/msc-divina';">Leer mas...</button>
      </div>
  </div>
</main>
